.home-header {
    width: 100%;
    height: 55px;
    line-height: 55px;
    background:rgba(255,255,255,1);
}
.header-logo {
    float: left;
    margin-left: 5%;
    margin-top: 15px;
    width: 240px;
}
.user-logo {
    float: right;
    margin-right: 5%;
    margin-top: 6px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.login_btn {
    float: right;
    margin-right: 5%;
    margin-top: 14px;
    width: 80px;
    height:30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    display: block;
    background:linear-gradient(180deg,rgba(87,255,178,1) 0%,rgba(1,201,85,1) 100%);
    border-radius:30px;
}
.Screen_list {
    width: 100%;
    height: 45px;
    line-height: 45px;
    background-color: #fff;
}
.icon_circlu {
    margin-top: -4px;
    margin-left: 2px;
    width: 11px;
    height: 8px;
}
.Screen_ways {
    margin-left: 10px;
}
.Home_Content {
    width: 100%;
    height: auto;
    background:rgba(244,245,249,1);
    overflow: hidden;
}
.CourseLi {
    margin: 10px auto;
    width: 90%;
    height: 140px;
    background: #fff;
    border-radius: 4px;
}
.CourseTop {
    margin: 0 auto;
    width: 94%;
    height: 100px;
    border-bottom:1px solid rgba(244,245,249,1);
    display: flex;
}
.CourseBottom {
    margin: 0 auto;
    width: 94%;
    height: 40px;
}
.CourseTopLeft {
    flex: 2;
}
.CourseTopRight {
    flex:3;
}
.CourseImg {
    margin-top: 10px;
    width: 100%;
    height: 80px;
    border-radius: 10px;
}
.CourseInfo:nth-child(1){
    margin-top: 5px;
}
.CourseInfo {
    margin: 0;
    height: 30px;
    line-height: 30px;
    text-indent: 1em;
    font-size: 15px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.NowPrice  {
    font-size: 17px;
    color: #FF4E4E;
}
.OldPrice {
    margin-left: 10px;
    font-size: 12px;
    color: #999;
    text-decoration: line-through;
}
.timelimit {
    float: right;
    margin-top: 5px;
    width: 60px;
    height: 20px;
    line-height: 20px;
    background: url(./../../img/timeBG.png) no-repeat center center;
    background-size: 100% 100%;
    font-size: 10px;
    color:#1CDA72;
}
.icon_date {
    margin-top: -4px;
    margin-right: 4px;
    width: 15px;
    height: 15px;
}
.icon_hour {
    margin-right: 4px;
    width: 12px;
    height: 16px;
}
.BottomTime {
    font-size: 12px;
    color:#333;
    line-height: 40px;
}
.BottomInfo {
    font-size: 12px;
    color: #999;
}
.ListMore {
    margin-bottom: 20px;
    font-size: 12px;
    text-align: center;
    color:rgba(153,153,153,1);
}
.icon_book {
    margin: 0 auto;
    margin-top: 30px;
    width: 20px;
    height: 16px;
    display: block;
}
.BottomLogo {
    margin: 0 auto;
    width: 240px;
    height: 35px;
    display: block;
}
.HomeBottom {
    background:rgba(244,245,249,1);
}
.HomePropaganda {
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    text-align: center;
    font-size:12px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(153,153,153,1);
    line-height:16px;
}
.BottomName {
    margin: 0px;
    margin-top: 30px;
    height: 30px;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    color:rgba(153,153,153,1);
}
.EditAccount {
    position: fixed;
    top: 60px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    border-top: 1px solid rgba(51,51,51,0.5);
}
.ExitAccountTip {
    width: 100%;
    height: 175px;
    background-color: #fff;
}
.exit-logo {
    float: left;
    margin-left: 5%;
    margin-top: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.icon_cha {
    margin: 70px auto;
    display: block;
}
.UserNum {
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    width: 100px;
    font-size: 15px;
    color: #333;
    line-height: 40px;
    display: block;
}
.ExitBtn {
    float: right;
    margin-top: 26px;
    margin-right: 5%;
    padding: 5px 10px;
    border:1px solid rgba(153,153,153,1);
    border-radius: 50px;
}
.MyOrderList{
    margin:0 auto;
    margin-top: 40px;
    width:200px;
    height:30px;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    background:linear-gradient(180deg,rgba(87,255,178,1) 0%,rgba(1,201,85,1) 100%);
    border-radius:30px;
}
.GradeList {
    position: fixed;
    top: 100px;
    width: 100%;
    height: auto;
    max-height: 330px;
    background:rgba(244,245,249,1);
}
.SelectGradeTitle {
    margin: 0px;
    margin-left: 5%;
    width:183px;
    height:42px;
    font-size:15px;
    font-family:PingFangSC-Medium;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:42px;
}

.grade {
    float: left;
    margin-bottom: 20px;
    border-radius: 4px;
    margin-left: 4%;
    width: 20%;
    height: 40px;
    line-height: 40px;
    display: block;
    text-align: center;
    background-color: #fff;
    color: #333;
    border:1px solid #fff;
}
.grades {
    float: left;
    margin-bottom: 20px;
    border-radius: 4px;
    margin-left: 4%;
    width: 20%;
    height: 40px;
    line-height: 40px;
    display: block;
    text-align: center;
    background-color: #fff;
    color: #1CDA72;
    border:1px solid #1CDA72;
}
.grade-list{
    margin: 0px;
    height: 240px;
    overflow: auto;
}
.GradeMakeSure{
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #fff;font-size: 15px;
    background-color: #1CDA72;
}
#GrColor {
    color: #1CDA72;
}
