.logo {
    margin: 0 auto;
    height: 32px;
    display: block;
}
.CompanyName {
    text-align: center;
    height:37px;
    font-size:12px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(153,153,153,1);
    line-height:37px;
}
.footer {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 0px;
}
